<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        margin: 0;
        background-color: #f4f4f9;
      }
  
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  
      input, textarea, button {
        margin: 10px;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ddd;
        width: 300px;
      }
  
      button {
        background-color: #4CAF50;
        color: white;
        font-size: 18px;
        cursor: pointer;
      }
  
      button:hover {
        background-color: #45a049;
      }
  
      a {
        color: #007BFF;
        text-decoration: none;
        font-size: 18px;
      }
  
      a:hover {
        text-decoration: underline;
      }
  
      h2, h1 {
        margin-bottom: 20px;
      }
    </style>
  </head>
  
<body>
  <h1><%= lot.title %></h1>
  <p><strong>Starting price:</strong> <%= lot.startingPrice %> грн</p>
  <p><strong>Description:</strong> <%= lot.description %></p>
  <p><strong>Current Price:</strong> <%= lot.currentPrice || lot.startingPrice %> грн</p>
  <p><strong>Status:</strong> <%= lot.isActive ? 'active' : 'closed' %></p>
  <% if (lot.winnerId) { %>
    <p><strong>Winner ID:</strong> <%= lot.winnerId %></p>
  <% } %>
  
  <% if (user && lot && lot.isActive && user.id !== lot.userId) { %>
    <form action="/bids/<%= lot.id %>/bid" method="POST">
      <input type="number" name="amount" step="0.5" min="<%= (lot.currentPrice || lot.startingPrice) + 1 %>" required>
      <button type="submit">Place Bid</button>
    </form>
  <% } %>

  <% if (user && user.id === lot.userId) { %>
    <% if (lot.isActive) { %>
    <form action="/lots/<%= lot.id %>/close" method="POST">
      <button type="submit">Close auction</button>
    </form>
  <% } %>
    <form action="/lots/<%= lot.id %>/delete" method="POST">
      <button type="submit">Delete lot</button>
    </form>
  <% } %>

  <a href="/">Back to lots</a>
</body>
</html>
